

.regions {
  h3 {
    font-weight: 300;
  }
  .map-holder {
    p {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
    }
  }
  .map-container {
    width: 100%;
    margin: 30px 0;
    position: relative;

    .jvectormap-container {
      position: relative;
      svg {
        height: 400px !important;
      }
    }
  }
  .region-select{
    max-width: 600px;
    margin: 15px auto;
    select{
      display: block;
      width: 100%;
      max-width: 600px;
      margin: 15px auto;
      padding: 0 10px;
      background: #fff;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position: 99%;
      border-radius: 15px;
      height: 44px;
      line-height: 28px;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      outline: 0;
    }
    select::-ms-expand {
      display: none;
    }
  }
  .setup-steps{
    background: #99ED90;
    p {
      font-weight: 300;
      font-size: 13px;
    }
    ul li {
      font-size: 13px;
      margin: 8px 0;
      strong {
        margin-right: 5px;
      }
    }
    h4{ font-weight: 300; font-size: 18px;}
  }
  .multiselect-container{
    max-width: 600px;
    margin: 20px auto 20px;
  }
  .search-wrapper {
    background: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: 99%;
    border:1px solid #212529;
    border-radius: 15px;
    height: 44px;

    .searchBox {
      height: auto;
    }
    .icon_cancel{
      display: none;
    }
  }
}
.jvectormap-tip {
  display: none !important;
}
